body{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
}
p{
    color: rgb(121, 105, 105);
    font-weight: 400;
}


h1{
    position: relative;
    font-size: 50px;
}
#myname{
    color: orange;
}

section{
    display: flex;
}
#half-width{
    width: 50%;
    padding: 5%;
}
#half-width img{
    width: 80%;
}
.link-open{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 70, 5),rgb(170, 98, 70));
    color: white;
    text-shadow: rgb(204, 157, 157);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 900;
}
.top-banner{
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;

}