body{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
    text-align: justify;
}
p{
    color: rgb(121, 105, 105);
    font-weight: 400;
}


h1{
    position: relative;
    font-size: 50px;
}
#myname{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
#half-width{
    width: 50%;
    padding: 2%;
}
#half-width img{
    width: 80%;
}
.link-open{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 70, 5),rgb(170, 98, 70));
    color: white;
    text-shadow: rgb(204, 157, 157);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 900;
}
.top-banner{
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;

}
#third-width{
    width: 50%;
    padding: 2%;
}
#third-width img{
    width: 90%;

}
#nokta{
    margin-top: 200px;
}


.experience-item{
    width: 40%;
    padding: 2%;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}


#experience-item2{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
    
}

#experience-item1{
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    border-radius: 5px;
    
}

.experience-area{
    background-image: url(pictures/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: justify;

}
 .experience-area img{
    margin-top: 400px;
}

footer p{
    text-align: center;
}